/* ======================================================= */
/* LOAD TAILWIND CSS */
@import "tailwindcss";
/* ======================================================  */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
/* ======================================================= */
/* Custom Theme  */
/* ======================================================== */
@theme {
  /* Fonts */
  --font-sans: "Inter", system-ui, sans-serif;

  /* Colors */
  --color-primary: #10b77f;
  --color-primary-text: #ffffff;

  --color-secondary: #eeebe8;
  --color-secondary-text: #3a312c;

  --color-accent: #def8ee;
  --color-accent-text: #0a7552;

  --color-background: #fcfaf8;
  --color-text: #231d1a;

  --color-card: #fdfdfc;
  --color-card-text: #231d1a;

  --color-popover: #fdfdfc;
  --color-popover-text: #231d1a;

  --color-muted: #f3f0ed;
  --color-muted-text: #7e7167;

  --color-destructive: #dc2828;
  --color-destructive-text: #ffffff;

  /* Borders */
  --border-radius: 1rem;
  --color-shadow: #000000;
  --opacity-shadow: 0.1;
  --blur-shadow: 30px;
}
