/* ======================================================= */
/* LOAD TAILWIND CSS */
@import 'tailwindcss';
/* ======================================================  */
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));
/* ======================================================= */
/* Custom Theme  */
/* ======================================================== */
@theme {
  /* Fonts */
  --font-sans: 'Inter', system-ui, sans-serif;

  /* Colors */
  --color-primary: #10b77f;
  --color-primary-text: #ffffff;

  --color-secondary: #eeebe8;
  --color-secondary-text: #3a312c;

  --color-accent: #def8ee;
  --color-accent-text: #0a7552;

  --color-background: #fcfaf8;
  --color-text: #231d1a;

  --color-card: #fdfdfc;
  --color-card-text: #231d1a;

  --color-popover: #fdfdfc;
  --color-popover-text: #231d1a;

  --color-muted: #f3f0ed;
  --color-muted-text: #7e7167;

  --color-destructive: #dc2828;
  --color-destructive-text: #ffffff;

  --color-instagram: #ff0169;
  --color-whatsapp: #25d366;
  --color-facebook: #0049cc;
  --color-twitter: #1da1f2;

  --color-gold: #e9ad03;

  /* Borders */
  --border-radius: 1rem;
  --color-shadow: #000000;
  --opacity-shadow: 0.1;
  --blur-shadow: 30px;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --font-serif: 'Lora', serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.9861 0.0034 67.7838);
  --foreground: oklch(0.2366 0.011 48.2347);
  --card: oklch(0.9938 0.0013 106.4231);
  --card-foreground: oklch(0.2366 0.011 48.2347);
  --popover: oklch(0.9938 0.0013 106.4231);
  --popover-foreground: oklch(0.2366 0.011 48.2347);
  --primary: oklch(0.6902 0.1483 162.2402);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9416 0.0052 67.7615);
  --secondary-foreground: oklch(0.3212 0.0157 50.8763);
  --muted: oklch(0.9566 0.0052 67.7627);
  --muted-foreground: oklch(0.5577 0.0223 59.8943);
  --accent: oklch(0.9575 0.0302 170.5778);
  --accent-foreground: oklch(0.4989 0.1043 163.4768);
  --destructive: oklch(0.5785 0.2138 27.1723);
  --border: oklch(0.9095 0.0077 61.4447);
  --input: oklch(0.9095 0.0077 61.4447);
  --ring: oklch(0.6902 0.1483 162.2402);
  --chart-1: oklch(0.6902 0.1483 162.2402);
  --chart-2: oklch(0.9416 0.0052 67.7615);
  --chart-3: oklch(0.9575 0.0302 170.5778);
  --chart-4: oklch(0.5577 0.0223 59.8943);
  --chart-5: oklch(0.3212 0.0157 50.8763);
  --sidebar: oklch(0.9861 0.0034 67.7838);
  --sidebar-foreground: oklch(0.2366 0.011 48.2347);
  --sidebar-primary: oklch(0.6902 0.1483 162.2402);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9575 0.0302 170.5778);
  --sidebar-accent-foreground: oklch(0.4989 0.1043 163.4768);
  --sidebar-border: oklch(0.9095 0.0077 61.4447);
  --sidebar-ring: oklch(0.6902 0.1483 162.2402);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: #231d1a;
  --shadow-opacity: 0.1;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0.25rem;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0.25rem 0.5rem 0 hsl(20 14.7541% 11.9608% / 0.05);
  --shadow-xs: 0 0.25rem 0.5rem 0 hsl(20 14.7541% 11.9608% / 0.05);
  --shadow-sm: 0 0.25rem 0.5rem 0 hsl(20 14.7541% 11.9608% / 0.1),
    0 1px 2px -1px hsl(20 14.7541% 11.9608% / 0.1);
  --shadow: 0 0.25rem 0.5rem 0 hsl(20 14.7541% 11.9608% / 0.1),
    0 1px 2px -1px hsl(20 14.7541% 11.9608% / 0.1);
  --shadow-md: 0 0.25rem 0.5rem 0 hsl(20 14.7541% 11.9608% / 0.1),
    0 2px 4px -1px hsl(20 14.7541% 11.9608% / 0.1);
  --shadow-lg: 0 0.25rem 0.5rem 0 hsl(20 14.7541% 11.9608% / 0.1),
    0 4px 6px -1px hsl(20 14.7541% 11.9608% / 0.1);
  --shadow-xl: 0 0.25rem 0.5rem 0 hsl(20 14.7541% 11.9608% / 0.1),
    0 8px 10px -1px hsl(20 14.7541% 11.9608% / 0.1);
  --shadow-2xl: 0 0.25rem 0.5rem 0 hsl(20 14.7541% 11.9608% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2178 0 0);
  --foreground: oklch(0.9067 0 0);
  --card: oklch(0.252 0 0);
  --card-foreground: oklch(0.9067 0 0);
  --popover: oklch(0.252 0 0);
  --popover-foreground: oklch(0.9067 0 0);
  --primary: oklch(0.6902 0.1483 162.2402);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.3211 0 0);
  --secondary-foreground: oklch(0.7668 0 0);
  --muted: oklch(0.285 0 0);
  --muted-foreground: oklch(0.683 0 0);
  --accent: oklch(0.4989 0.1043 163.4768);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.3867 0 0);
  --input: oklch(0.3211 0 0);
  --ring: oklch(0.6902 0.1483 162.2402);
  --chart-1: oklch(0.6902 0.1483 162.2402);
  --chart-2: oklch(0.3211 0 0);
  --chart-3: oklch(0.4989 0.1043 163.4768);
  --chart-4: oklch(0.683 0 0);
  --chart-5: oklch(0.7668 0 0);
  --sidebar: oklch(0.2178 0 0);
  --sidebar-foreground: oklch(0.9067 0 0);
  --sidebar-primary: oklch(0.6902 0.1483 162.2402);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.4989 0.1043 163.4768);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.3867 0 0);
  --sidebar-ring: oklch(0.6902 0.1483 162.2402);
  --destructive-foreground: oklch(1 0 0);
  --radius: 0.5rem;
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.4;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0.5rem;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0.5rem 0.75rem 0 hsl(0 0% 0% / 0.2);
  --shadow-xs: 0 0.5rem 0.75rem 0 hsl(0 0% 0% / 0.2);
  --shadow-sm: 0 0.5rem 0.75rem 0 hsl(0 0% 0% / 0.4),
    0 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow: 0 0.5rem 0.75rem 0 hsl(0 0% 0% / 0.4),
    0 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md: 0 0.5rem 0.75rem 0 hsl(0 0% 0% / 0.4),
    0 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg: 0 0.5rem 0.75rem 0 hsl(0 0% 0% / 0.4),
    0 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl: 0 0.5rem 0.75rem 0 hsl(0 0% 0% / 0.4),
    0 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0 0.5rem 0.75rem 0 hsl(0 0% 0% / 1);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
    letter-spacing: var(--tracking-normal);
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
